@import url(whitespace-reset.css);

body {
  background: #2F2840 url("images/bg_body.gif") 50% 0 repeat;
  display: grid;
  font: normal 20px 'Nunito', sans-serif;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /*margin: 0 auto;*/
  text-align: center;
}

header {
  grid-area: header;
  padding-bottom: 43px;
}
  header h1 {
    padding: 133px 0 113px;
  }
  header nav ul li {
    display: inline-block;
    padding: 0 38px;
  }
  header nav ul li a {
    color: #CACAC6;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration-line: none;
  }
  header nav ul li a.active {
    color: #6DB8FC;
    font-weight: bold;
  }

main {
  background: #FFFFFF;
  grid-area: main;
  padding: 113px 0 87px 0;
}
  main h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .5px;
  }
  main h2::before, main h2::after {
    content: "\2022";
    font-size: 28px;
    padding: 0 24px;
    vertical-align: 5px;
  }
  main h3 {
    color: #3E59B2;
    font-size: 26px;
    font-weight: 900;
  }

footer {
  background: #E7E7E7;
  color: #B2B2B2;
  grid-area: footer;
  padding: 80px 0;
}
  footer p {
    padding: 0 0 35px 0;
  }
  footer li {
    display: inline-block;
    padding: 0 62px;
  }
  footer li a {
    background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
    display: block;
    height: 46px;
    overflow: hidden;
    text-indent: -9999px;
    width: 46px;
  }
  footer li a.facebook {
    background-position: 0 -46px;
  }
  footer li a.email {
    background-position: 0 -92px;
  }
  footer li a.instagram {
    background-position: 0 -138px;
  }